<div class="row">
  <h1 class=" right center">
  <%= user.firstname %>'s Dashboard
</h1>
</div>
<div class="row">
  <div class="col s3">
    <img class="responsive-img" src="<%= user.image %>">
  </div>
  <div class="col s9">
    <h4><strong>Name:</strong> <%= user.firstname %> <%= user.lastname %></h4>
    <hr>
    <p><%= user.cell %></p>
  </div>
</div>
