<div class="row">
  <div class="col s12">
    <h1>Edit Merch Item</h1>
    <a href="/merch/inventory"><-- Back to Inventory</a>
  </div>
</div>
 <div class="row">
    <form class="col s12" method="POST" action="/merch/<%=merch.id%>?_method=PUT">
    	<!-- start hidden -->
    	<input id="no_size_current" hidden="true" name="no_size_current" type="text" class="validate" value="<%= merch.no_size %>">

    	<input id="item" hidden="true" name="id" type="text" class="validate" value="<%= merch.id %>">

    	<!-- end hidden items -->
      <div class="row">
        <div class="input-field col s10">
          <input id="item" name="item" type="text" class="validate" value="<%= merch.item %>">
          <label for="item_name">Item Name</label>
        </div>
        <div class="input-field col s2">
          <input id="price" name="price" type="text" class="validate" value="<%= merch.price %>">
          <label for="price">Price (in cents)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="category" name="category" type="text" class="validate" value="<%= merch.category %>">
          <label for="category">Category</label>
        </div>
        <div class="input-field col s6">
          <input id="collection" name="collection" type="text" class="validate" value="<%= merch.collection %>">
          <label for="collection">Collection</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="color" name="color" type="text" class="validate" value="<%= merch.color %>">
          <label for="color">Color</label>
        </div>
        <div class="input-field offset-s1 col s5">
          <span style="margin-right:1em;">
            <label>
              <input name="sex" value="u" type="radio" <% if(merch.sex == 'u'){ %>checked<% }%>/>
              <span>Unisex</span>
            </label>
          </span>
          <span style="margin-right:1em;">
            <label>
              <input name="sex" value="m" type="radio" <% if(merch.sex == 'm'){ %>checked<% }%>/>
              <span>Male</span>
            </label>
          </span>
          <span style="margin-right:1em;">
            <label>
              <input name="sex" value="f" type="radio" <% if(merch.sex == 'f'){ %>checked<% }%>/>
              <span>Female</span>
            </label>
          </span>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <textarea id="desc" name="desc" class="materialize-textarea" data-length="400"><%= merch.desc %></textarea>
            <label for="desc">Description</label>
          </div>
      </div>
      <div class="row">
          <!-- cloudinary widget -->
          <div class="input-field col s12">
              <button class="btn waves-effect waves-light grey darken-3" type="button" id="upload_widget_opener">Upload up to 3 images
              <i class="material-icons right">add_a_photo</i></button>
            </div>
          </div>
          <div class="row">
            <!-- image urls box -->
              <div class="card-panel grey lighten-3 col s12">
                <label>Image 1</label>
                  <input name="img_1" type="text" value="<%= merch.img_1 %>" id="img_1"/> <img class="materialboxed" width="100" id="r_img_1" src="<%= merch.img_1 %>">
                <label>Image 2</label>
                  <input name="img_2" type="text" placeholder="Image URL" id="img_2"/> <img class="materialboxed" width="100" id="r_img_2" src="<%= merch.img_2 %>">
                <label>Image 3</label>
                  <input name="img_3" type="text" placeholder="Image URL" id="img_3"/> <img class="materialboxed" width="100" id="r_img_3" src="<%= merch.img_3 %>">
              </div>
          </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="pre_order" name="pre_order" type="text" value="<%= merch.pre_order %>">
            <label for="pre_order">Pre-Order?</label>
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <label>
              <input name="no_size" type="checkbox"<% if(merch.no_size ==true){ %>checked<% }%> />
              <span>No Size</span>
            </label>
          </div>
          <div class="col s3">
            <label>
              <input name="members_only" type="checkbox" <% if(merch.members_only ==true){ %>checked<% }%>/>
              <span>Members Only</span>
            </label>
          </div>
          <div class="col s3">
            <label>
              <input name="active" type="checkbox" <% if(merch.active ==true){ %>checked<% }%>/>
              <span>Active</span>
            </label>
          </div>
          <div class="col s3">
            <button class="btn waves-effect waves-light grey darken-3 right" type="submit">Update
              <i class="material-icons right">add_circle_outline</i>
            </button>
          </div>
        </div>
    </form>
  </div>
<script>
    document.getElementById("upload_widget_opener").addEventListener("click", function() {
      console.log('clicked')
        cloudinary.openUploadWidget({ cloud_name: 'mayhemphone', upload_preset: 'sodsc-unsigned', folder: 'sodsc-dev/merch'},
                function(error, result) {
                    console.log(error, result)
                    // Push URL into text input
                    if(result){
                      for (var i=0;i<result.length;i++){
                        u = 'img_'+(i+1)
                        console.log(u)
                        if (document.getElementById(u)) {
                          document.getElementById(u).value = result[i].url;
                          document.getElementById('r_'+u).src = result[i].url;
                        } else{
                        alert("you can only upload 3 images")
                        }
                      }
                    } else {
                      console.log('no result')
                    }
                
                });

    }, false);
</script>
