<h1 >Manage Inventory</h1>

<!-- show all merch items, add size:textboxforcount-->
<div class="row">
	<div class="col s12">
		<table class="striped responsive-table">
			<thead>
			  <tr>
			      <th>Images</th>
			      <th>
			      	  Name /
			      	  Collection /
			      	  Category
			      </th>
			      <th>Color</th>
			      <th>Stock</th>
			      <th>Price</th>
			      <th colspan="2" >
			      	<!-- this button isn't functional yet, and I don't want to talk about it -->
			      	<!-- <button class="waves-effect waves-light btn  blue-grey darken-3" style="float: right;">Update All</button> -->
			      </th>
			  </tr>
			</thead>
			<tbody>
				<% merch.forEach((merch)=> { %>
					<tr>
						<td >
							<input type="hidden" value="<%=merch.id%>" name="id">
							
							  <a href="/merch/<%=merch.id%>"><img style="height: 100px;width:100px;" src="<%= merch.img_1 %>"></a>
							  
						</td>
						<td>
							<h6 style="font-weight:600;margin: 0;color:black;"><%= merch.item %></h6>
							
							<em><%= merch.collection %></em>
							<br />
							<em><%= merch.category %></em>
						</td>
						<td><div style="width:20px;height:20px;border:1px solid black;background-color:<%= merch.color %>;border-radius: 3px;"></div></td>
						
						<% console.log(merch.no_size)%>
						<% if (merch.no_size == false){ %>
							<td>
							<!-- draw button to open sizes modal -->
							 <!-- Modal Trigger -->
							  <a class="waves-effect waves-light btn modal-trigger blue-grey darken-3" href="#<%=merch.id%>">stock</a>
							  <!-- Modal Structure -->
							  <div id="<%=merch.id%>" class="modal">
							    <div class="modal-content">
						    	<!-- start modal content -->
							      <h4>Update SKLFKLSDLKG:</h4><br>
							      <form method="POST" action="/merch/inventory?_method=PUT">
							      	<input type="hidden" value="<%=merch.id%>" name="merchId">
							      <% merch.inventories.forEach((inv)=>{ %>
								      <div class="row">
								      	<p>blah</p>
								        <div class="input-field">
								          <input id="<%=inv.size%>" value="<%=inv.count%>" name="<%=inv.size%>" type="number" class="validate" >
								          <label for="category"><%=inv.size%></label>
								        </div>
								      </div>
								   <% }) %>
								</div>
								<!-- end modal content -->
								<div class="modal-footer">
 								  <a href="#<%=merch.id%>" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
							      <button href="#<%=merch.id%>" type="submit" class="saveBtn modal-close waves-effect waves-green btn-flat">Save</button>
							 	 </form>
							    </div>
							  </div>
							</td>
							
							<% } else { %>

								<td>
								<!-- draw button to open sizes modal -->
								 <!-- Modal Trigger -->
								  <a class="waves-effect waves-light btn modal-trigger blue-grey darken-3" href="#modal-<%=merch.id%>">stock</a>
								  <!-- Modal Structure -->
								  <div id="modal-<%=merch.id%>" class="modal">
								    <div class="modal-content ">
								      <h4>Update stock: </h4>
								      <form method="POST" action="/merch/inventory?_method=PUT">
							      		<input type="hidden" value="<%=merch.id%>" name="merchId">
							      <% merch.inventories.forEach((inv)=>{ %>
								   		<div class="input-field ">
									    	<input id="<%=inv.size%>" value="<%=inv.count%>" name="<%=inv.size%>" type="number" class="validate " ><label for="category"><%=inv.size%></label>
									    </div>
								  <%})%>
								  	</div>

								  <!-- end modal content -->
								    <div class="modal-footer">
								      <a href="#<%=merch.id%>" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
							      	  <button href="#<%=merch.id%>" class="saveBtn modal-close waves-effect waves-green btn-flat" type="submit" >Save</button>
							 	 	    </form>
							    	  </div>
								</td>
							

							<% } %>
						<td>
							$<%= merch.price/100 %>
						</td>
						<td>
							<label>
				              <input class="filled-in blue-grey darken-3" name="active" value ="active"  disabled type="checkbox" <%if (merch.active == true){%>checked<%}%>/>
				              <span>Active</span><br />
				            </label>
				            <label>
				              <input class="filled-in"  disabled type="checkbox" />
				              <span>Pre-order</span><br />
				            </label>
						
							<label>
				              <input class="filled-in" disabled type="checkbox" />
				              <span>Members Only</span>
				            </label>
						</td>
						<td>
    						 <a href="/merch/edit/<%=merch.id%>" class="btn-floating waves-effect waves-light blue-grey darken-3"><i class="material-icons">edit</i></a>
        				</td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</div>