<h1>Manage Inventory</h1>

<!-- show all merch items, add size:textboxforcount-->
<div class="row">
	<div class="col s12">
		<table class="striped ">
			<thead>
			  <tr>
	  		  	  <th>Active</th>
			      <th>Img_1</th>
			      <th>Name</th>
			      <th>Color</th>
			      <th>Collection</th>
			      <th>Category</th>
			      <th>Sizes/Count</th>
			      <th>Price</th>
			      <th>Pre-Order</th>
			      <th>Members</th>
			      <th>Update</th>
			  </tr>
			</thead>
			<tbody>
				<% merch.forEach((merch)=> { %>
					<tr>
						<td>
							<label>
				              <input class="filled-in blue-grey" name="active" value ="active" type="checkbox" <%if (merch.active == true){%>checked<%}%>/>
				              <span></span>
				            </label>
						</td>
						<td><img style="max-height:100px;"src="<%= merch.img_1 %>"></td>
						<td><strong><%= merch.item %></strong></td>
						<td><div style="width:20px;height:20px;border:1px solid black;background-color:<%= merch.color %>;border-radius: 3px;"></div></td>
						<td><%= merch.collection %></td>
						<td><%= merch.category %></td>
						<% console.log(merch.no_size)%>
						<% if (merch.no_size == false){ %>
							<td>
							<!-- draw button to open sizes modal -->
							 <!-- Modal Trigger -->
							  <a class="waves-effect waves-light btn modal-trigger blue-grey" href="#<%=merch.id%>">&nbsp;Sizes&nbsp;</a>

							  <!-- Modal Structure -->
							  <div id="<%=merch.id%>" class="modal modal-fixed-footer">
							    <div class="modal-content">
						    	<!-- start modal content -->
							      <h4>Update count per size:</h4><br>
							      <% merch.inventories.forEach((inv)=>{ %>
								      <form >
								      <div class="row">
								        <div class="input-field col s6 offset-s3">
								          <input id="<%=inv.size%>" value="<%=inv.count%>" name="category" type="number" class="validate">
								          <label for="category"><%=inv.size%></label>
								        </div>
								      </div>
								   <% }) %>
								</div>
								<!-- end modal content -->
								<div class="modal-footer">
							      <button href="#<%=merch.id%>" class="modal-close waves-effect waves-green btn-flat">Save</button>
							 	 </form>
							    </div>
							  </div>
							</td>
							
							<% } else { %>

								<td>
								<!-- draw button to open sizes modal -->
								 <!-- Modal Trigger -->
								  <a class="waves-effect waves-light btn modal-trigger blue-grey" href="#modal-<%=merch.id%>">Count</a>

								  <!-- Modal Structure -->
								  <div id="modal-<%=merch.id%>" class="modal modal-fixed-footer">
								    <div class="modal-content">
								      <h4>Update count: </h4>
								      
								   		<div class="input-field">
									    	<input value="0" id="first_name2" type="number" class="validate">
									    </div>
								  </div>
								</td>
							

							<% } %>
						<td>
							$<%= merch.price/100 %>
						</td>
						<td>
							<label>
				              <input class="filled-in" type="checkbox" />
				              <span></span>
				            </label>
						</td>
						<td>
							<label>
				              <input class="filled-in" type="checkbox" />
				              <span></span>
				            </label>
						</td>
						<td>	
							<button class="left btn-floating waves-effect waves-light blue-grey right" type="submit">
								 <i class="material-icons right">sync</i>
    						</button>
        				</td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</div>