<!-- cart -->

<script src="https://checkout.stripe.com/checkout.js" defer></script>
<script>
   var stripePublicKey ='<%= stripePublicKey %>'
</script>
<script src="js/checkout.js" defer></script>
        <div class="row">
	      <div class="col l9 s12">
	      	<h4>Your Cart</h4>
		      <table class="striped">
			<% user.cart_items.forEach((ci)=>{%>

		      	<tr class="cart-row" data-item-id="<%=ci.merch.id%>">
					<td style="vertical-align: top;
  text-align: left;">
						<input type="hidden" value="<%=ci.merch.id%>" name="id">
						<a href="http://localhost:3000/merch/<%=ci.merch.id%>">
							<img style="height: 100px" src="<%= ci.merch.img_1 %>">
						</a>  
					</td>
					<td style="vertical-align: top;
  text-align: left;">
						<h6 style="font-weight:600;margin: 0;color:black;padding-bottom:.5em;"><%= ci.merch.item %></h6>
						<div style="width:20px;height:20px;border:1px solid black;background-color:<%= ci.merch.color %>;border-radius: 3px;display: inline-block;margin-right: .5em;">
						</div>
						$<%= ci.merch.price/100 %>
						<br><small>size: <%=ci.size%></small>
					</td>
					
					<td style="vertical-align: top;
  text-align: left;">
						<div class="row valign-wrapper" >
						    <div class="input-field "style="width:4em;padding-left:1em;">
						      <input value="<%=ci.quantity%>" style="width:2em;margin-right: 1em;" id="quantity" type="number" class="validate cart-quantity-input">
						      <label class="active" for="quantity">Quantity</label>
						  		<small>Update</small><br>
						  		<small>Remove</small>
						    </div>
						    
						</div>
					</td>
				</tr>
		    <%})%>
		</table>
	</div>
    <div class="col l3 s12" id="order-summary">
		  	<h5>Order Summary</h5>
		  	
		  	<%let total = 0%>
		  	<% user.cart_items.forEach((p)=>{ %>
		  	<%console.log('p:', p)%>
		  		<%total = total + p.merch.price%>

			<%})%>
			<p>Subtotal: <span class="right" id="finalTotal">$<%=total/100%></span></p>
			<p>Shipping: <span class="right">FREE</span></p>
			<button class="btn btn-primary btn-purchase" type="button" id="purchase" >PURCHASE</button>
		  </div>
		</div>
    </div>

    <script type="text/javascript">
    	
    	function moveToOrders(){
			<% user.cart_items.forEach((cl)=>{%>
				console.log('looping')
				<% console.log('CL.      ', cl) %>
				$.ajax({
					url: 'http://localhost:3000/orders/',
					method: 'POST',
					data: {
						userId: <% user.id %>,
					    merchId: <% cl.merchId %>,
					    size: '<% cl.size %>',
					    sleeves: <% cl.sleeves %>,
					    quantity: <% cl.quantity %>,
					    order_num: Date()
					}
				})
				.success(res => {
					console.log('success', res)
					
				})
				.fail(err => {
					console.log('fail', err)
					// if response status is 401 then 
					// location.href = '/auth/login'
				})
		
		<%})%>
	
		}
    </script>